{% extends "base.html" %}
{% block body %}
<h1>{{ tourney.name }}</h1>
<div class="container">
    <div class="bracket">
        {% for i in rounds.rounds %}
            {% if forloop.counter0 == 0 %}
                <div class="round round-one">
            {% endif %}
            {% if forloop.counter0 == 1 %}
                <div class="round round-two">
            {% endif %}
            {% if forloop.counter0 == 2 %}
                <div class="round round-three">
            {% endif %}
            {% if forloop.counter0 == 3 %}
                <div class="round round-four">
            {% endif %}
            {% if forloop.counter0 == 4 %}
                <div class="round round-five">
            {% endif %}
            {% if forloop.counter0 == 5 %}
                <div class="round round-six">
            {% endif %}
            {% if forloop.counter0 == 6 %}
                <div class="round round-seven">
            {% endif %}
            {% if forloop.counter0 == 7 %}
                <div class="round round-eight">
            {% endif %}
            {% for i in ''|center:i %}
                <button class="matchup btn">
                    <div class="team team-top">Team 1</div>
                    <div class="team team-bottom">Team 16</div>
                </button>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}