{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="bracket">
        <div class="round round-one">
            <div class="matchup">
                <div class="team team-top">Team 1</div>
                <div class="team team-bottom">Team 16</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 8</div>
                <div class="team team-bottom">Team 9</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 5</div>
                <div class="team team-bottom">Team 12</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 4</div>
                <div class="team team-bottom">Team 13</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 6</div>
                <div class="team team-bottom">Team 11</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 3</div>
                <div class="team team-bottom">Team 14</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 7</div>
                <div class="team team-bottom">Team 10</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Team 2</div>
                <div class="team team-bottom">Team 15</div>
            </div>
        </div>
        <div class="round round-two">
            <div class="matchup">
                <div class="team team-top">Winner 1-16</div>
                <div class="team team-bottom">Winner 8-9</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Winner 5-12</div>
                <div class="team team-bottom">Winner 4-13</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Winner 6-11</div>
                <div class="team team-bottom">Winner 3-14</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Winner 7-10</div>
                <div class="team team-bottom">Winner 2-15</div>
            </div>
        </div>
        <div class="round round-three">
            <div class="matchup">
                <div class="team team-top">Winner 1-16-8-9</div>
                <div class="team team-bottom">Winner 5-12-4-13</div>
            </div>
            <div class="matchup">
                <div class="team team-top">Winner 6-11-3</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}