.bracket {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.round-one > .matchup {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-two > .matchup {
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-two {
    margin-top: 55px;
}

.round-three > .matchup {
    margin-bottom: 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-three {
    margin-top: 165px;
}

.round-four > .matchup {
    margin-bottom: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-four {
    margin-top: 400px;
}

.round-five > .matchup {
    margin-bottom: 1750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-five {
    margin-top: 800px;
}

.round-six > .matchup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-six {
    margin-top: 1700px;
}

.round {
    margin-right: 15px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 250px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.matchup:last-child {
    margin-bottom: 0px !important;
}

body {
     background-color: black !important;
     background-image: url("images/background.png");
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
}

.nav-logo {
    margin-left:10px;
    margin-right:20px;
}

.navbar {
    z-index: 2;
}

.form-inline .form-group {
    display: inline-block;
    margin-right: 10px;
}

.form-inline.flex-fill {
    flex: 1;
}

.nav-form {
    margin-right: 5vw;
}

.page {
    position: fixed;
    top: 55px; /* The height of the navbar */
    left: 10%;
    right: 10%;
    bottom: 0;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.form-group-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button-group-horizontal {
    display: flex;
    align-items: left;
}

.listing-btn {
    margin-right: 15px;
    min-width: 125px;
}

.form-group-name {
    margin-right: 20px;
}

.modal-dialog {
    position: fixed;
    top: 30%;
    transform: translate(-50%, -50%);
}

.btn-outline-dark {
    min-width: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

/* Page Transition Animation CSS */

#animation-page {
    transition: all 0.4s ease;
}

#animation-page.out {
    transform: translateY(100%);
    opacity: 0;
}

#animation-page.in {
    transform: translateY(-100%);
    opacity: 0;
}

#animation-page.show {
    transform: translateY(0%);
    opacity: 1;
}

