
:root {
    --primary: #41235e;
    --primary-hover: #2c1840;
    --secondary: #584678;
    --secondary-hover: #362b4a;
    --danger: #78173c;
    --danger-hover: #4d0f26;
}

.m-gone {
    margin-bottom: 0px;
}

.btn {
    border-radius: 0 !important;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-primary:hover {
    background-color: var(--primary-hover) !important;
}

.btn-secondary, .btn-secondary:active, .btn-secondary:visited {
    background-color: var(--secondary) !important;
}

.btn-secondary:hover {
    background-color: var(--secondary-hover) !important;
}

.btn-danger, .btn-danger:active, .btn-danger:visited {
    background-color: var(--danger) !important;
}

.btn-danger:hover {
    background-color: var(--danger-hover) !important;
}

.home-image {
    border: 2px var(--primary) solid;
    padding: 5px;
    margin-bottom: 10px;
}

/* Bracket Theme Styles */

/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

/* Normal Theme */
.normal-theme {
    background-color: white;
}

/* Dark Theme */
.dark-theme {
    background-color: #2e2e2e;
    padding: 5px;
    color: white;
}

.dark-theme > .bracket > .matchup > .team,
.dark-theme > .bracket > .round > .matchup > .team {
    border: none;
    background-color: #141414;
    color: white;
    border-radius: 10px;
}

.dark-theme > h1 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px black solid;
    text-align: center;
}

.dark-theme > .bottom-button {
    border-top: 4px black solid;
    margin-top: 20px;
}

/* Medieval Theme */
.med-theme {
    font-family: 'Sedgwick Ave Display', cursive;
    background-color: #bf8654;
}

.med-theme > .bracket {
    color: white;
    padding: 20px;
}

.med-theme > h1 {
    color: white;
    margin: 20px;
    background-color: #422409;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.med-theme > .bracket > .matchup > .team,
.med-theme > .bracket > .round > .matchup > .team {
    border: none;
    background-color: #422409;
    color: white;
}

/* Bracket Styles */

.bracket {
    display: flex;
    flex-direction: row;
    align-items: left;
}

.round-one > .matchup {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-two > .matchup {
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-two {
    margin-top: 55px;
}

.round-three > .matchup {
    margin-bottom: 355px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-three {
    margin-top: 165px;
}

.round-four > .matchup {
    margin-bottom: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-four {
    margin-top: 400px;
}

.round-five > .matchup {
    margin-bottom: 1750px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-five {
    margin-top: 800px;
}

.round-six > .matchup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-six {
    margin-top: 1700px;
}

.round {
    margin-right: 15px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 250px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.matchup:last-child {
    margin-bottom: 0px !important;
}

body {
     background-color: black !important;
     background-image: url("images/background.png");
     background-size: 100%;
     background-repeat: no-repeat;
     background-position: center;
     height: 100vh;
}

.nav-logo {
    margin-left:10px;
    margin-right:20px;
}

.navbar {
    z-index: 2;
}

.form-inline .form-group {
    display: inline-block;
    margin-right: 10px;
}

.form-inline.flex-fill {
    flex: 1;
}

.nav-form {
    margin-right: 5vw;
}

.page {
    position: fixed;
    top: 55px; /* The height of the navbar */
    left: 10%;
    right: 10%;
    bottom: 0;
    padding: 20px;
    overflow-y: auto;
}

.form-group-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.button-group-horizontal {
    display: flex;
    align-items: left;
}

.listing-btn {
    margin-right: 15px;
    min-width: 75px;
}

.create-tourney-form > .form-group {
    margin-bottom: 20px;
}

.form-group-name {
    margin-right: 20px;
}

.modal-dialog {
    position: fixed;
    top: 30%;
    transform: translate(-50%, -50%);
}

.btn-outline-dark {
    min-width: 80px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
}

/* Page Transition Animation CSS */

#animation-page {
    transition: all 0.4s ease;
}

#animation-page.out {
    transform: translateY(100%);
    opacity: 0;
}

#animation-page.in {
    transform: translateY(-100%);
    opacity: 0;
}

#animation-page.show {
    transform: translateY(0%);
    opacity: 1;
}

